{% extends "base.html" %} {% block title %}Gramarun - Password Change{% endblock %} {% block content %}
<form method="POST">
    <div class="form-group" id=formLogin>
        <h3 class="titleConn">Password Change</h3>
        <label for="email">Your Email Address</label>
        <input type="text" id="password" name="password" class="form-control" placeholder="Enter new password"><br>
        <input type="text" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm new password"> <br>
        <div class="connButton">
            <button class="btn btn-outline-light" type="submit">Submit</button>
        </div>
    </div>
</form>
{% endblock %}